.social-network{
    padding: 0;
    list-style: none;
    font-size: 50px;

}

.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 55pt;
    color: white;
    padding: 10px;
}
.fa-linkedin{
    color: white;
}
.fa-linkedin:hover{
    color: #3b5998;
}
.fa-github{
    color: white;
}

.fa-github:hover{
    color: #3b5998;
}
.bg-color{
background-color: rgb(62, 5, 155);
}
