.bg-color{
    background-color: rgb(85, 9, 207);
}

.btnC{
    background-color: rgb(85, 9, 207);
    color:white;
}

.btnC:hover{
    background-color: rgb(241, 241, 241);
    color:rgb(85, 9, 207);
    border: 1px solid rgb(85, 9, 207);

}

.btnD{
    color:rgb(85, 9, 207);
    border: 1px solid rgb(56, 7, 136);

}

.btnD:hover{
    background-color: rgb(56, 7, 136);
    color:white;
}