<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <img src="{{foto}}" alt="iamgem do user" width="50px" height="50px"
                        class="rounded-circle">
                </li>

                <li class="nav-item p-3">
                    <p class="m-0 fs-16 text-white">Olá, {{nome}} </p>
                </li>

                <li class="nav-item p-3">
                    <a href="">
                        <p class="m-0 fs-16 text-white">
                            <i class="fas fa-edit"></i>
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item p-3">
                    <a (click)='sair()' class="m-0 fs-16 text-white"> Sair <i class="fas fa-sign-out-alt"></i> </a>
                </li>
            </ul>

        </div>
    </div>
</nav>