#img-bg{
    background-image: url('https://resi.ze-robot.com/dl/pl/played-around-with-the-firewatch-art-and-made-this-pretty-cool-dual-monitor-wallpaper-1920%C3%971080.jpg');
    min-height: 696px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.br{
    border-bottom: 3px solid rgb(85, 9, 207);
}

.bg-c{
    background-color: rgb(235, 235, 235);
}

.btn{
    background-color: rgb(85, 9, 207);
    color: white;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid rgb(85, 9, 207);
    color: rgb(85, 9, 207);
}

.btnC{
    background-color: rgb(255, 255, 255);
    color: rgb(85, 9, 207);
    border: 1px solid rgb(85, 9, 207);

}

.btnC:hover{
    background-color: rgb(85, 9, 207);
    color: rgb(255, 255, 255);
}
